<%= form_tag("/create") do %>
  <div>
    <p>タイトル</p>
    <textarea name="title"></textarea>
  </div>
  <div>
    <p>内容</p>
    <textarea name="content"></textarea>
  </div>
  <input type="submit" value="投稿">
<% end %>
