 <div>
   <p>タイトル</p>
   <textarea name="title" readonly><%= @tidbit.title %></textarea>
 </div>
 <div>
   <p>内容</p>
   <textarea name="content" readonly><%= @tidbit.content %></textarea>
 </div>

 <span id="like-of-<%= @tidbit.id %>">
   <%= render partial: 'likes/like', locals: { tidbit: @tidbit } %>
 </span>
